{:paths ["resources" "src"]
 :deps {org.clojure/clojure     {:mvn/version "1.10.0"}
        org.clojure/spec-alpha2 {:git/url "https://github.com/clojure/spec-alpha2.git"
                                 :sha "29a73a3e5fef8329c14dd44a0b151e90b86c0854"}}
 :aliases
 {:test {:extra-paths ["test"]
         :extra-deps {org.clojure/test.check {:mvn/version "RELEASE"}}}
  :runner
  {:extra-deps {com.cognitect/test-runner
                {:git/url "https://github.com/cognitect-labs/test-runner"
                 :sha "76568540e7f40268ad2b646110f237a60295fa3c"}}
   :main-opts ["-m" "cognitect.test-runner"
               "-d" "test"]}}}

